@import url(../../styles/yandex/common.css);
@import url(../../styles/yandex/button.css);
@import url(../../styles/yandex/textbox.css);
@import url(../../styles/yandex/checkbox.css);
@import url(../../styles/yandex/popup.css);
@import url(../../styles/yandex/dialog.css);

body
{
    font-size: 20px;
    color: #444;
}
main
{
    width: 500px;
    margin: 0 auto;
}
ul
{
    padding: 0;
    list-style: none;
}
li
{
    position: relative;
    padding: 10px 45px;
    background: #eee;
    margin-bottom: 5px;
}
li .checkbox
{
    line-height: 13px;
    position: absolute;
    left: 15px;
    top: 15px;
}
main form
{
    background: #888;
    padding: 10px;
}
.textbox
{
    margin-right: 5px;
}
.textbox .box
{
    width: 300px;
}
.removebutton
{
    position: absolute;
    right: 11px;
    font-size: 2em;
    line-height: 15px;
    opacity: 0.2;
    cursor: pointer;
    outline: none;
    top: 15px;
}
.removebutton:focus,
.removebutton:hover
{
    opacity: 0.5;
}
.dialog
{
    padding: 25px;
}
.dialog p
{
    margin: 0 0 25px;
}
.dialog .button[data-type=submit]
{
    margin-right: 5px;
}
