@import url(../../styles/yandex/common.css);
@import url(../../styles/yandex/button.css);
@import url(../../styles/yandex/textbox.css);
@import url(../../styles/yandex/checkbox.css);
@import url(../../styles/yandex/popup.css);
@import url(../../styles/yandex/dialog.css);

body
{
    font-size: 20px;
    color: #444;
}
main
{
    width: 500px;
    margin: 0 auto;
}
ul
{
    padding: 0;
    list-style: none;
}
li
{
    position: relative;
    padding: 10px 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
li:last-child
{
    border: none;
}
li .checkbox
{
    line-height: 13px;
    position: absolute;
    left: 15px;
    top: 20px;
}
main form
{
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.textbox
{
    margin-right: 5px;
}
.textbox .box
{
    width: 300px;
}
.removebutton
{
    position: absolute;
    right: 11px;
    font-size: 2em;
    line-height: 15px;
    opacity: 0;
    cursor: pointer;
    outline: none;
    top: 20px;
}
li:hover .removebutton
{
    opacity: 0.2;
}
li .removebutton:focus,
li .removebutton:hover
{
    opacity: 0.5;
}
li .editbox
{
    display: inline-block;
    width: 100%;
    min-height: 33px;
    line-height: 23px;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}
li .editbox:not([data-editmode=true])
{
    padding: 5px;
}
li .editbox:hover:not([data-editmode=true])
{
    background: rgba(0, 0, 0, 0.02);
}
li .editbox:focus
{
    box-shadow: 0 0 0 1px #ffdb4d;
}
li .editbox input
{
    font: inherit;
    border: none;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 0 2px #ffdb4d;
    box-sizing: border-box;
    outline: none;
}
.dialog
{
    padding: 25px;
}
.dialog p
{
    margin: 0 0 25px;
}
.dialog .button[data-type=submit]
{
    margin-right: 5px;
}
