body
{
    /*margin: 0;*/
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.08);
}
body > h1
{
    text-align: center;
}
input.filterinput
{
    width: 100%;
    font-size: 20px;
}
table.exampletable
{
    margin: 0 auto;
    width: 1200px;
}
table.exampletable > * > tr > th
{
    padding-top: 20px;
}
table.exampletable > * > tr > td
{
    padding: 30px 0;
}
table.exampletable > * > tr > td pre.html,
table.exampletable > * > tr > td pre.javascript
{
    margin-top: 0;
}
table.exampletable > * > tr > td > h2 > code > a:not(:hover)
{
    text-decoration : none;
}
table.exampletable > * > tr > td div
{
    max-width: 1200px;
    box-sizing: border-box;
}
table.exampletable > * > tr > td div.dom
{
    padding: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: white;
}
table.exampletable > * > tr > td span.tag
{
    display: inline-block;
    font: 15px Arial;
    background: #0a0;
    color: white;
    padding: 1px 5px;
    /*opacity: 0.5;*/
}
