body
{
    margin: 0;
}
input.filterinput
{
    width: 100%;
    font-size: 20px;
}
table.exampletable
{
    margin: 0 auto;
    width: 100%;
}
table.exampletable > thead > tr > th
{
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.08);
}

table.exampletable > * > tr > th,
table.exampletable > tbody > tr > td
{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table.exampletable > * > tr > th
{
    text-align: left;
}
body:focus
{
    box-shadow: inset 0 0 10px 3px rgba(0, 217, 120, 0.3);
}
