@import url(styles/yandex/common.css);
@import url(styles/yandex/link.css);
@import url(styles/yandex/button.css);
@import url(styles/yandex/buttongroup.css);
@import url(styles/yandex/checkbox.css);
@import url(styles/yandex/radiogroup.css);
@import url(styles/yandex/listbox.css);
@import url(styles/yandex/select.css);
@import url(styles/yandex/textbox.css);
@import url(styles/yandex/passwordbox.css);
@import url(styles/yandex/numberbox.css);
@import url(styles/yandex/searchbox.css);
@import url(styles/yandex/searchgroup.css);
@import url(styles/yandex/datebox.css);
@import url(styles/yandex/datepicker.css);
@import url(styles/yandex/menu.css);
@import url(styles/yandex/tabmenu.css);
@import url(styles/yandex/popup.css);
@import url(styles/yandex/dialog.css);
@import url(styles/yandex/spin.css);
@import url(styles/yandex/tablist.css);
@import url(styles/yandex/tree.css);
@import url(styles/yandex/grid.css);

article
{
    display: inline-block;
    padding: 0 20px;
    margin-right: 80px;
    vertical-align: top;
}
article.mixes
{
    width: 430px;
}
section
{
    margin: 20px 0;
}
article.mixes section
{
    display: inline-block;
    margin-top: 4px;
    margin-right: 30px;
}
article.mixes .tabmenu
{
    width: 112px;
    display: inline-block;
}
article.mixes section.tabbuttongroup
{
    vertical-align: top;
}
article.mixes section.tabbuttongroup .button
{
    padding-top: 0;
    padding-bottom: 0;
    /*padding-top: 4px;
    padding-bottom: 5px;*/
}
article.mixes section.tabbuttongroup .button > span
{
    padding-top: 5px;
    padding-bottom: 4px;
    display: inline-block;
    border-top: 1px solid transparent;
}
/*article.mixes section.tabbuttongroup .button:focus > span*/
article.mixes section.tabbuttongroup .button[aria-selected=true]:not(:focus) > span
{
    border-top-color: black;
}
article.mixes section.tabbuttongroup .button:hover
{
    color: #c00;
}

article.mixes section:not(.tabbuttongroup) .tabpanel
{
    display: inline-block;
    min-width: 65px;
    vertical-align: top;
}
.tablist
{
    display: inline-block;
}
.tabpanel
{
    padding: 15px;
}
.listbox .box
{
    max-height: 150px;
}
.select .button
{
    min-width: 130px;
}

.radiobuttongroup .button:first-of-type
{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.radiobuttongroup .button:last-of-type
{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
