@import url(styles/yandex/common.css);
@import url(styles/yandex/link.css);
@import url(styles/yandex/button.css);
@import url(styles/yandex/buttongroup.css);
@import url(styles/yandex/checkbox.css);
@import url(styles/yandex/radiogroup.css);
@import url(styles/yandex/listbox.css);
@import url(styles/yandex/selectbox.css);
@import url(styles/yandex/textbox.css);
@import url(styles/yandex/passwordbox.css);
@import url(styles/yandex/numberbox.css);
@import url(styles/yandex/searchbox.css);
@import url(styles/yandex/searchgroup.css);
@import url(styles/yandex/datebox.css);
@import url(styles/yandex/datepicker.css);
@import url(styles/yandex/menu.css);
@import url(styles/yandex/tabmenu.css);
@import url(styles/yandex/popup.css);
@import url(styles/yandex/dialog.css);
@import url(styles/yandex/spin.css);
@import url(styles/yandex/tablist.css);
@import url(styles/yandex/tree.css);
@import url(styles/yandex/grid.css);

article
{
    display: inline-block;
    padding: 0 20px;
    margin-right: 80px;
    vertical-align: top;
}
section
{
    margin: 20px 0;
}

.listbox .box
{
    max-height: 150px;
}
.selectbox .button
{
    min-width: 130px;
}
.tabpanel
{
    text-align: center;
    font-size: 46px;
    opacity: 0.3;
    cursor: default;
    padding: 15px;
}
.tabpanel:hover
{
    background: rgba(0, 0, 0, 0.05);
}

article.mixes
{
    width: 430px;
}
article.mixes section
{
    display: inline-block;
    margin-top: 4px;
    margin-right: 30px;
}
article.mixes section.tabbuttongroupexample
{
    vertical-align: top;
}
article.mixes section.tabmenuexample .tabmenu
{
    display: inline-block;
    width: 112px;
}
article.mixes section.tabmenuexample .tabpanel
{
    display: inline-block;
    min-width: 65px;
    vertical-align: top;
}
