.button
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px 12px;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
button.button
{
    font: inherit;
    padding: 5px 9px;
}
button.button::-moz-focus-inner
{
    border: 0;
}
.button:hover
{
    border-color: rgba(0, 0, 0, 0.3);
}
.button:focus
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.button:active,
.button.active
{
    background: #f3f1ed;
}
.button[aria-pressed=true],
.button[aria-checked=true],
.button[aria-selected=true]
{
    background: #ffeba0;
}
.button[aria-pressed=true]:active,
.button[aria-pressed=true].active,
.button[aria-checked=true]:active,
.button[aria-checked=true].active,
.button[aria-selected=true]:active,
.button[aria-selected=true].active
{
    background: #fee481;
}
.button[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.button[aria-pressed=true][aria-disabled=true],
.button[aria-checked=true][aria-disabled=true],
.button[aria-selected=true][aria-disabled=true]
{
    background: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.button.accent
{
    background: #ffdb4d;
    border-color: transparent;
}
.button.accent:hover
{
    background: #ffd633;
}
.button.accent:focus
{
    border-color: transparent;
    box-shadow: none;
    animation-name: button-accent-focus;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.button.accent:active
{
    background: #ffcc00;
}
@keyframes button-accent-focus
{
    from, to
    {
        background: #ffcc00;
    }
    40%, 60%
    {
        background: #ffe066;
    }
}

/* checkbutton */

.button[role=checkbox]
{
    border-radius: 7px;
}

/* radiobutton */

.button[role=radio]
{
    border-radius: 13px;
}

/* tabbutton */

.button[role=tab]
{
    padding-top: 0;
    padding-bottom: 0;
}
.button[role=tab] > span
{
    padding-top: 4px;
    padding-bottom: 5px;
    display: inline-block;
    border-top: 1px solid transparent;
}
.button[role=tab][aria-selected=true]:not(:focus) > span
{
    border-top-color: black;
}
.button[role=tab]:hover
{
    color: #c00;
}


