body
{
    font: 13px Arial;
}
[hidden]
{
    display: none !important;
}

/*
.group
{
    display: inline-block;
}
.group[aria-label]::before
{
    content: attr(aria-label);
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
*/
