.datepicker
{
    background: #fff;
    width: 250px;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.datepicker .box
{
    padding: 7px;
    border : 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 3px;
}
.datepicker:hover .box
{
    border-color: rgba(0, 0, 0, 0.2);
}
.datepicker .button
{
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}
.datepicker .button:not(:focus)/*:not(:hover)*/
{
    border-color: transparent;
}
.datepicker .header .button:not(:focus):hover
{
    /*border-color: rgba(0, 0, 0, 0.15);*/
    background-color: rgba(0, 0, 0, 0.02);
}
.datepicker .button[data-value="-1"]
{
    float: left;
    background-image: url(images/arrow-left.svg);
}
.datepicker .button[data-value="+1"]
{
    float: right;
    background-image: url(images/arrow-right.svg);
}
.datepicker [role=heading]
{
    display: inline-block;
    padding: 6px;
    margin-bottom: 5px;
}
.datepicker table.grid
{
    width: 100%;
}
.datepicker table.grid:hover td.gridcell
{
    border-color: rgba(0, 0, 0, 0.1);
    /*border-color: transparent;*/
}

.datepicker th
{
    padding: 2px 2px 6px;
}
.datepicker table.grid td.gridcell
{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 7px 8px;
}
.datepicker td.gridcell[data-weekday="5"],
.datepicker td.gridcell[data-weekday="6"]
{
    color: #c00;
}
.datepicker td.gridcell[aria-current=date]
{
    background: rgba(0, 0, 0, 0.05);
}
.datepicker td.gridcell:hover:not([aria-disabled=true])
{
    border-color: rgba(0, 0, 0, 0.3);
}
.datepicker td.gridcell:active
{
    background: #f3f1ed;
}
.datepicker td.gridcell[aria-selected=true]
{
    background: #ffeba0;
}
.datepicker td.gridcell[aria-selected=true]:not(:focus)::before
{
    box-shadow: none;
}
.datepicker td.gridcell[aria-selected=true]:active
{
    background: #fee481;
}
.datepicker table.grid td.gridcell[aria-disabled=true]
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
}
.datepicker[aria-label]::before
{
    content: attr(aria-label);
    display: block;
    margin-bottom: 5px;
    cursor: default;
}

