.datebox > .box
{
    width: 120px;
    padding-right: 26px;
}
.datebox .datebutton
{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(images/datebutton.svg) no-repeat 50% 50%;
    position: absolute;
    right: 1px;
    opacity: 0.2;
    outline: none;
}
.datebox:not(.disabled) .datebutton:hover
{
    cursor: pointer;
    opacity: 0.5;
}
.datebox.disabled .datebutton
{
    opacity: 0.1;
}
.datebox .datepicker
{
    display: block;
    padding: 7px;
    text-align: center;
    /*position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    z-index : 1;*/
}
.datebox .datepicker .box
{
    border : none;
}
