.datebox .box
{
    width: 120px;
    padding-right: 26px;
}
.datebox::after
{
    content: url(images/calendar.svg);
    position: absolute;
    bottom: 4px;
    right: 6px;
}
.datebox:not(.disabled)::after
{
    cursor: pointer;
}
