.link
{
    color: #04b;
}
.link:not(:focus):not(:hover)
{
    text-decoration: none;
}
.link:focus
{
    box-shadow: 0 0 0 2px #ffdb4d;
    outline: none;
}
.link:hover
{
    color: #c00;
    cursor: pointer;
}
.link:active,
.link.active
{
    background: #f3f1ed;
}
.link[aria-disabled]
{
    color: #ccc;
    cursor: default;
}
.link[rel~=external]:not(:hover)
{
    color: #070;
}
.link.dim:not(:hover)
{
    color: rgba(0, 0, 0, 0.5);
}
.link.button:not(:hover)
{
    color: #000;
}
