.listbox
{
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.listbox .box
{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    overflow: auto;
    outline: none;
}
.listbox .option
{
    display: block;
    position: relative;
    height: 24px;
    padding: 0 13px;
    line-height: 25px;
    cursor: pointer;
}
.listbox .option[aria-checked]
{
    padding: 0 30px;
}
.listbox:not([aria-disabled=true]) .option:hover/*:not([aria-selected])*/
{
    background: rgba(0, 0, 0, 0.01);
}
.listbox .option:first-child
{
    margin-top: 4px;
}
.listbox .option:last-child
{
    margin-bottom: 4px;
}

/* hover */

.listbox:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}

/* focus */

.listbox:focus .box
{
    border-color: #ffdb4d;
    box-shadow: 0 0 0 1px #ffdb4d;
}

/* option selected */
/*.listbox:not([aria-disabled=true]) .option[aria-selected=true]:not([aria-checked])
{
    background: rgba(0, 0, 0, 0.1);
}*/

.listbox:focus span[role=option].option[aria-selected=true],
.listbox:not([aria-disabled=true]) .option[aria-selected=true]:not([aria-checked])
{
    background: #ffeba0;
}
.listbox:focus span[role=option].option[aria-selected=true]:active,
.listbox:focus span[role=option].option[aria-selected=true].active
{
    background: #fee481;
}
.listbox .option[aria-checked=true]::before
{
    content: url(images/checkmark-small.svg);
    position: absolute;
    top: 2px;
    left: 10px;
}

.listbox[aria-disabled=true] .box
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}
.listbox[aria-disabled=true],
.listbox[aria-disabled=true] .option
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}

.listbox[aria-disabled=true] .option[aria-selected=true]:not([aria-checked])
{
    background: rgba(0, 0, 0, 0.1);
}
.listbox[aria-disabled=true] .option[aria-checked=true]::before
{
    opacity: 0.4;
}
.listbox[aria-label]::before
{
    content: attr(aria-label);
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
