.menu
{
    outline: none;
    white-space: nowrap;
    background: #fff;
    padding: 4px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.menu .menuitem
{
    display: block;
    position: relative;
    padding: 0 13px;
    line-height: 25px;
    cursor: pointer;
    outline: none;
    border-left: 2px solid transparent;
}
.menu:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}
.menu .menuitem:focus
{
    background: #ffeba0;
}
.menu .menuitem:focus:active,
.menu .menuitem:focus.active
{
    background: #fee481;
}
.menu a.menuitem
{
    color: #000;
    text-decoration: none;
}
.menu a.menuitem:focus[href]
{
    color: #c00;
    text-decoration: underline;
}

.menubutton
{
    position: relative;
    padding-right: 24px;
}
.menubutton::after
{
    content: url(images/arrow-down.svg);
    position: absolute;
    top: 4px;
    right: 6px;
    transition: transform 0.1s ease-out 0s;
}
.menubutton[aria-expanded=true]
{
    border-color: #ffdb4d;
    box-shadow: inset 0 0 0 1px #ffdb4d;
}
.menubutton[aria-expanded=true]::after
{
    transform: rotate(-180deg) translateY(-2px);
}

