.searchgroup .searchbox .box
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.searchgroup .searchbox.focus + .button
{
    border-left-color: #ffdb4d;
}
.searchgroup .searchbox:hover:not(.focus) + .button:not(.accent):not(:focus)
{
    border-left-color: rgba(0, 0, 0, 0.3);
}
.searchgroup .button
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
