.tabmenu
{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tabmenu:hover
{
    border-color: rgba(0, 0, 0, 0.2);
}
.tabmenu .menuitem[aria-selected=true]
{
    border-left: 2px solid black;
}
.tabmenu .menuitem:focus
{
    border-left: 2px solid #ffdb4d;
}
.tabmenu .menuitem:hover:not(:focus)
{
    /*background: rgba(0, 0, 0, 0.01);*/
    color: #c00;
}
