.timebox .box
{
    width: 80px;
    padding-right: 26px;
    cursor: default;
}
.timebox .button
{
    position: absolute;
    right: 3px;
    border: none;
    opacity: 0.25;
    font-size: 9px;
    padding: 0 5px;
}
.timebox .button:hover
{
    background: rgba(0, 0, 0, 0.2);
}
.timebox .button:active
{
    background: rgba(0, 0, 0, 0.3);
}
.timebox .button:focus
{
    box-shadow: none;
}
.timebox .button[data-value="+1"]
{
    bottom: 14px;
}
.timebox .button[data-value="-1"]
{
    bottom: 3px;
}
.timebox.disabled .button
{
    background: transparent;
    cursor: default;
}
