footer
{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    white-space: nowrap;
}
footer .footeritem
{
    display: inline-block;
    margin: 0 20px;
}
footer .footeritem:first-child
{
    margin-left: 0;
}
footer .footeritem:last-child
{
    margin-right: 0;
}
footer .langswitch:lang(ru)::before
{
    content: url(//yastatic.net/islands-icons/_/aXJK_o-btp1MZf_uqan_aQUD9os.png)' ';
}
