header
{
    display: flex;
    justify-content: space-between;
    position: relative;
}
header .logo
{
    display: inline-block;
    padding: 10px 15px;
    outline: none;
}
header .logo img
{
    padding: 7px;
}
header .logo:focus img
{
    box-shadow: 0 0 0 2px #ffdb4d;
}
header .service
{
    font-size: 17px;
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 21px;
    margin-top: 21px;
    padding: 3px 10px;
    border: 2px solid #fc0;
    border-right: none;
    outline: none;
}
header .service::after
{
    content: url(images/service-arrow.svg);
    position: absolute;
    right: -9px;
    top: -3px;
}
header .service:hover,
header .service:focus
{
    color: #c00;
}
header .button
{
    padding: 7px 14px;
    vertical-align: middle;
}
header .authbutton
{
    color: black;
    margin: 20px;
}
header .userbutton
{
    display: inline-block;
    margin: 17px 15px 17px 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 18px;
}
header .userbutton .userpic
{
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background: #fff none no-repeat scroll center center / cover;
}
header .userbutton .username
{
    font: 15px/80% Arial,Helvetica,sans-serif;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}
header .userbutton .username::first-letter
{
    color: #f00;
}
header .userbutton:hover,
header .userbutton:focus
{
    color: #f00;
}
header .userbutton:focus
{
    box-shadow: 0 0 0 2px #ffdb4d;
}
