.usermenu
{
    width: 180px;
    right: 98px;
    top: 63px;
}
.usermenu .menuitem
{
    line-height: 30px;
    color: #000;
    text-decoration: none;
}
.usermenu hr
{
    margin: 6px 0 10px;
    border-style: none none solid;
    border-color: silver;
    border-width: 0 0 1px;
}
.usermenu::before
{
    content: '';
    position: absolute;
    top: -9px;
    right: 9px;
    width: 16px;
    height: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(45deg);
    background: #fff none repeat scroll 0 0;
}
