@import url('../styles/yandex/common.css');
@import url('../styles/yandex/link.css');
@import url('../styles/yandex/button.css');
@import url('../styles/yandex/tablist.css');
@import url('../styles/yandex/popup.css');
@import url('../styles/yandex/menu.css');
@import url('../styles/yandex/buttongroup.css');
@import url('../styles/yandex/select.css');

@import url('./style/header.css');
@import url('./style/usermenu.css');
@import url('./style/footer.css');
@import url('./style/companycard.css');

body
{
    margin: 0;
}

main.main
{
    padding: 20px;
    margin-bottom: 30px;
    /*min-height: 200px;*/
}
main.main h1.mainheading
{
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0 20px;
}

ul.companylist
{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.companylist li
{
    vertical-align: top;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
ul.companylist li .buttongroup
{
    position: relative;
}
ul.companylist li .button
{
    height: 30px;
}
ul.companylist li .menu
{
    right: 0;
}
ul.companylist li:hover
{
    background: rgba(0, 0, 0, 0.01);
}

.tablist
{
    padding: 0 5px;
}
