main
{
    display : flex;
    justify-content : space-around;
}
.panel
{
    width: 33%;
}
.codeinput
{
    width : 100%;
    height : 500px;
    font : 13px monospace;
    box-sizing: border-box;
}
.domoutput
{
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}
.codeoutput
{
    height: 500px;
    box-sizing: border-box;
    margin: 0;
}
main.invalid .domoutput
{
    color: red;
}
