body
{
    /*background: #000;*/
}
main
{
    display : flex;
    justify-content : space-around;
}
div.panel
{
    width: 33%;
    /*border: 3px solid #888;
    box-sizing: border-box;
    padding: 10px;*/
}
main .CodeMirror
{
    height : 600px;
    font-size: 14px;
}
output.domoutput
{
    height: 600px;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
}
main.invalid pre.htmloutput
{
    color: red;
}
