[hidden]
{
    display: none !important;
}
body
{
    /*background: #000;*/
    padding: 0 10px;
}
main.repl
{
    display : flex;
    justify-content : space-around;
}
div.panel
{
    width: 50%;
    margin: 5px;
}
div.panel form.settings label
{
    margin-right: 20px;
}
main .CodeMirror
{
    font-size: 14px;
}
main .jsinput .CodeMirror
{
    height: 600px;
}
main .htmloutput
{
    position: relative;
    margin-top: -300px;
}
main .htmloutput .CodeMirror
{
    height : 300px;
}
output.domoutput
{
    height: 600px;
    overflow: auto;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
}
main.invalid pre.htmloutput
{
    color: red;
}
