article
{
    display: inline-block;
    padding: 0 20px;
    margin-right: 80px;
    vertical-align: top;
}
section
{
    margin: 20px 0;
}

.listbox .box
{
    max-height: 150px;
}
.selectbox .button
{
    min-width: 130px;
}
.tabpanel
{
    text-align: center;
    font-size: 46px;
    opacity: 0.3;
    cursor: default;
    padding: 15px;
}
.tabpanel:hover
{
    background: rgba(0, 0, 0, 0.05);
}

article.mixes
{
    width: 430px;
}
article.mixes section
{
    display: inline-block;
    margin-top: 4px;
    margin-right: 30px;
}
article.mixes section.tabbuttongroupexample
{
    vertical-align: top;
}
article.mixes section.tabmenuexample .tabmenu
{
    display: inline-block;
    width: 112px;
}
article.mixes section.tabmenuexample .tabpanel
{
    display: inline-block;
    min-width: 65px;
    vertical-align: top;
}

.inlineblock
{
    display: inline-block !important;
}

article.listboxstand .inlineblock
{
    margin-right: 20px;
}
article.listboxstand .separator
{
    display: inline-block;
    width: 20px;
    height: 20px;
}
