section
{
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

footer
{
    margin-top: 25px;
}
footer h1
{
    font-size: 1em;
}
footer ul
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px dotted lightgrey;
}
footer li
{
    display: inline;
    list-style: none;
    margin: 0 30px;
}
