:link,
:visited
{
    color: #88b7db;
}
:link:not(:hover):not(:focus),
:link[href^="#"]
{
    text-decoration: none;
}
a[rel~=external]
{
    color: #9ab789;
}
html, body
{
    height: 100%;
}
body
{
    font: 19px Arial;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
    background: rgba(0, 0, 0, 0.9);
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body::before
{
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}
body main article h1,
body main article h2
{
    font-weight: normal;
    font-style: italic;
}
body main article h1
{
    font-size: 22px;
}
body main article h2
{
    font-size: 18px;
}
body main article p,
body main article address
{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3rem;
}
body main article p
{
    opacity: 0.7;
}
.dim:not(:hover):not(:focus)
{
    opacity: 0.7;
}

/*================================================================*/

.siteheader
{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #212831;
    padding: 7px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
}
.siteheader > h1
{
    font-size: 0;
}
.siteheader > .sitelogo
{
    cursor: default;
    margin: 0;
    user-select: none;
}
.siteheader > .sitelogo.logo0
{
    font: italic normal 40px Impact, monospace;
    letter-spacing: 10px;
    margin-top: -9px;
}
.siteheader > .sitelogo.logo0 sub
{
    font-size: 18px;
    margin-left: -93px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo1
{
    font: italic bold 40px "Malayalam MN", monospace;
    letter-spacing: 8px;
    margin-top: -12px;
}
.siteheader > .sitelogo.logo1 sub
{
    font-size: 18px;
    margin-left: -90px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo2
{
    font: italic bold 40px Noteworthy, monospace;
    letter-spacing: 6px;
    margin-top: -20px;
}
.siteheader > .sitelogo.logo2 sub
{
    font-size: 18px;
    margin-left: -83px;
    position: relative;
    bottom: -10px;
}
.siteheader > .sitelogo.logo3
{
    font: normal 35px Zapfino, monospace;
    margin: -31px 0 -50px;
}
.siteheader > .sitelogo.logo3 sub
{
    font-size: 15px;
    margin-left: -65px;
    position: relative;
    bottom: -14px;
}
.siteheader > address
{
    white-space: nowrap;
    padding: 13px 30px 0;
}
.siteheader > address > a
{
    font-style: inherit;
    background: transparent;
    border: none;
    color: inherit;
    display: inline-block;
    padding: 0 0 0 60px;
    font-size: 15px;
    position: relative;
    margin: 0 0 0 10px;
    line-height: normal;
}
.siteheader > address > a > pre
{
    font: inherit;
    margin: 8px 0;
    padding: 0 0 0 15px;
}
/*.siteheader > address > a::before
{
    position: absolute;
    font-style: normal;
}*/
.siteheader > address > .addressbutton
{
    cursor: pointer;
}
.siteheader > address span.fa
{
    position: absolute;
}
.siteheader > address span.fa-map-o
{
    font-size: 28px;
    top: 12px;
    left: 25px;
}
.siteheader > address span.fa-phone
{
    font-size: 35px;
    top: 10px;
    left: 32px;
}
/*.siteheader > address > a.geo::before
{
    content: '🌐';
    font-size: 38px;
    top: 2px;
    left: 21px;
}*/
/*.siteheader > address > a.tel::before
{
    content: '☏';
    font-size: 50px;
    top: -3px;
    left: 18px;
}*/

/*================================================================*/

main.content details > summary
{
    display: inline-block;
    cursor: default;
    font-style: normal;
    margin-bottom: 10px;
}
.contentinfo
{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
}
.contentinfo small:not(:hover) sup
{
    visibility: hidden;
}
.contentinfo address small time
{
    margin: 0 6px;
}

/*================================================================*/



.pathmap
{
    height: 720px;
    background: rgba(255, 255, 255, 0.85);
    position: relative;
    margin-top: 20px;
}
.pathinfo
{
    position: absolute;
    width: 600px;
    margin: 70px 50px;
    padding: 0 15px;
    background: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    color: black;
    cursor: move;
    text-shadow: none;
}
.pathinfo p
{
    font-size: 13px;
    line-height: 1.2rem;
}
.pathinfo > button.closebutton
{
    position: absolute;
    right: 0;
    top: 0;
    font-family: inherit;
    font-size: 20px;
    margin: 10px;
    color: #333;
    padding: 2px 8px 1px;
    background: transparent;
    border: transparent;
}
.pathinfo > button.closebutton:not(:hover)
{
    opacity: 0.5;
}
#spacemap > div
{
    font: bold 20px monospace;
    text-align: center;
}
