:link,
:visited
{
    color: #88b7db;
}
:link:not(:hover):not(:focus),
:link[href^="#"]
{
    text-decoration: none;
}
a[rel~=external]
{
    color: rgba(154, 183, 137, 1);
}
a[rel~=external]:not(:hover)
{
    opacity: 0.9;
}
html, body
{
    height: 100%;
}
body
{
    /*font: 15px Arial;*/
    /*font: 14px Verdana;*/
    /*font: 14px Tahoma;*/
    /*font: 13px "Lucida Console", Monaco, monospace;*/
    font: 16px "Courier New";
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body::before
{
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}
body main article h1
{
    font-weight: normal;
    margin: 25px 0;
    font-size: 22px;
    /*opacity: 0.8;*/
}
body main article > h1
{
    margin-top: 32px;
}
body main section > h1,
body main article article > h1
{
    font-size: 18px;
}
body main article p,
body main article ul,
body main article address
{
    line-height: 1.3rem;
}
body main article:not(:last-child)
{
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3)
}
body main article.text p:not(:hover),
body main article.text ul:not(:hover)
{
    opacity: 0.6;
}
body main article ul sup
{
    font-size: 10px;
    margin: -5px 2px 0;
    display: inline-block;
}
body main article img#mainphoto
{
    float: right;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    position: relative;
    z-index: 1;
    transition: opacity 200ms ease;
}
body main article img#mainphoto:not(:hover)
{
    opacity: 0.8;
}

.nowrap
{
    white-space: nowrap;
}
.dim:not(:hover):not(:focus)
{
    opacity: 0.7;
}


/*================================================================*/

.siteheader
{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
}
.siteheader > h1
{
    font-size: 0;
}
.siteheader > address
{
    white-space: nowrap;
    padding: 5px 0;
}
.siteheader > address > a
{
    font-style: inherit;
    background: transparent;
    border: none;
    color: inherit;
    display: inline-block;
    padding: 0 0 0 60px;
    font-size: 15px;
    position: relative;
    margin: 0 0 0 20px;
    line-height: normal;
}
.siteheader > address > a > pre
{
    font: inherit;
    margin: 8px 0;
    padding: 0 0 0 15px;
}
.siteheader > address > .addressbutton
{
    cursor: pointer;
}
.siteheader > address span.fa
{
    position: absolute;
}
.siteheader > address span.fa-vk
{
    color: white;
    font-size: 30px;
    bottom: 50%;
    margin-bottom: -12px;
    left: 25px;
}
.siteheader > address span.fa-map
{
    font-size: 22px;
    top: 14px;
    left: 34px;
}
.siteheader > address span.fa-phone
{
    font-size: 30px;
    top: 10px;
    left: 37px;
}

/*================================================================*/

article#index address.tel ul
{
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    font-size: 35px;
    list-style: none;
    padding: 0;
    opacity: 1;
}
article#index address.tel ul > li[tabindex]
{
    transition: transform 200ms linear, background 200ms linear;
    padding: 0 20px;
    cursor: pointer;
    outline: none;
}
article#index address.tel ul > li[tabindex]:focus
{
    background: #490094;
    box-shadow: 0 5px 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
}
article#index address.tel ul > li[tabindex]:first-child:focus
{
    transform: scale(2, 2) translate(33%, -55px);
}
article#index address.tel ul > li[tabindex]:last-child:focus
{
    transform: scale(2, 2) translate(-33%, -55px);
}
.contentinfo
{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
}
.contentinfo small
{
    font-size: 14px;
}
.contentinfo small:not(:hover) sup
{
    visibility: hidden;
}
.contentinfo address small time
{
    margin: 0 6px;
    font-style: normal;
}

/*================================================================*/



.pathmap
{
    height: 720px;
    background: rgba(255, 255, 255, 0.85);
    position: relative;
    margin-top: 20px;
    transition: opacity 200ms ease;
}
.pathmap:not(:hover)
{
    opacity: 0.5;
}
.pathinfo
{
    position: absolute;
    width: 600px;
    margin: 70px 50px;
    padding: 0 15px;
    background: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    color: black;
    cursor: default;
    text-shadow: none;
    font-size: 14px;
    /*font-style: italic;*/
    transition: transform 200ms ease;
}
.pathinfo h1
{
    margin: 15px 0 10px;
    opacity: 1;
    /*font-style: normal;*/
}
.pathinfo p
{
    line-height: 1.1rem;
    /*font-style: normal;*/
}
.pathinfo > button.closebutton
{
    position: absolute;
    right: 0;
    top: 0;
    font-family: inherit;
    font-size: 20px;
    margin: 10px;
    color: #333;
    padding: 2px 8px 1px;
    background: transparent;
    border: transparent;
}
.pathinfo > button.closebutton:not(:hover)
{
    opacity: 0.5;
}
.pathinfo:hover
{
    transform: scale(1.5, 1.5);
}

/*================================================================*/

/*.siteheader > .sitelogo
{
    cursor: default;
    margin: 0;
    user-select: none;
}
.siteheader > .sitelogo.logo0
{
    font: italic normal 40px Impact, monospace;
    letter-spacing: 10px;
    margin-top: -9px;
}
.siteheader > .sitelogo.logo0 sub
{
    font-size: 18px;
    margin-left: -93px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo1
{
    font: italic bold 40px "Malayalam MN", monospace;
    letter-spacing: 8px;
    margin-top: -12px;
}
.siteheader > .sitelogo.logo1 sub
{
    font-size: 18px;
    margin-left: -90px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo2
{
    font: italic bold 40px Noteworthy, monospace;
    letter-spacing: 6px;
    margin-top: -20px;
}
.siteheader > .sitelogo.logo2 sub
{
    font-size: 18px;
    margin-left: -83px;
    position: relative;
    bottom: -10px;
}
.siteheader > .sitelogo.logo3
{
    font: normal 35px Zapfino, monospace;
    margin: -31px 0 -50px;
}
.siteheader > .sitelogo.logo3 sub
{
    font-size: 15px;
    margin-left: -65px;
    position: relative;
    bottom: -14px;
}*/
