:link,
:visited
{
    color: #88b7db;
}
:link:not(:hover):not(:focus),
:link[href^="#"]
{
    text-decoration: none;
}
a[rel~=external]
{
    color: rgba(174, 203, 157, 1);
}
a[rel~=external]:not(:hover)
{
    opacity: 0.9;
}
html, body
{
    height: 100%;
}
body
{
    /*font: 15px Arial;*/
    /*font: 14px Verdana;*/
    /*font: 14px Tahoma;*/
    /*font: 13px "Lucida Console", Monaco, monospace;*/
    font: 16px "Courier New";
    /*font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body::before
{
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}
body main article h1
{
    font-weight: normal;
    margin: 25px 0;
    font-size: 22px;
    /*opacity: 0.8;*/
}
body main article > h1
{
    margin-top: 32px;
}
body main section > h1,
body main article article > h1
{
    font-size: 18px;
}
body main article p,
body main article ul,
body main article address
{
    line-height: 1.4rem;
}
body main article.text p:not(:hover),
body main article.text ul:not(:hover)
{
    opacity: 0.7;
}
body main article ul sup
{
    font-size: 10px;
    margin: -5px 2px 0;
    display: inline-block;
}
body main article img#mainphoto
{
    float: right;
    box-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    position: relative;
    z-index: 1;
    transition: opacity 250ms ease;
}
body main article img#mainphoto:not(:hover)
{
    opacity: 0.6;
}

.adr sup
{
    font-size: 16px;
}

.nowrap
{
    white-space: nowrap;
}
.dim:not(:hover):not(:focus)
{
    opacity: 0.7;
}

.siteheader
{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
}
.siteheader > h1
{
    font-size: 0;
}
.siteheader #logo:not(:hover):not(:focus)
{
    opacity: 0.9;
}
.siteheader > address
{
    white-space: nowrap;
    padding: 5px 0;
}
.siteheader > address > a
{
    font-style: inherit;
    background: transparent;
    border: none;
    color: inherit;
    display: inline-block;
    padding-left: 60px;
    font-size: 15px;
    position: relative;
    margin-left: 20px;
    line-height: normal;
}
.siteheader > address > a > pre
{
    font: inherit;
    margin: 8px 0;
    padding: 0 0 0 15px;
}
.siteheader > address > .addressbutton
{
    cursor: pointer;
}
.siteheader > address span.fa
{
    position: absolute;
}
.siteheader > address span.fa-vk
{
    color: white;
    font-size: 30px;
    bottom: 50%;
    margin-bottom: -12px;
    left: 25px;
}
.siteheader > address span.fa-map
{
    font-size: 22px;
    top: 14px;
    left: 34px;
}
.siteheader > address span.fa-phone
{
    font-size: 30px;
    top: 10px;
    left: 37px;
}

/*================================================================*/

article#index > section > h1
{
    margin-bottom: 5px;
}
article#index > section > ul
{
    list-style: circle;
}
article#index > section > ul > li
{
    padding: 1px 0;
}
article#tel address.tel ul
{
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    font-size: 30px;
    list-style: none;
    padding: 0;
    opacity: 1;
}
article#tel address.tel ul > li
{
    transition: transform 250ms ease 250ms;
    outline: none;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    font-style: normal;
    letter-spacing: 5px;
}
article#tel address.tel ul > li > strong
{
    font-weight: normal;
}
article#tel address.tel ul > li:not(:hover)
{
    opacity: 0.75;
}
article#tel address.tel ul > li:hover
{
    transform: scale(1.3, 1.3);
    opacity: 1;
}
article#tel address.tel ul > li::first-letter
{
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
article#tel address.tel ul > li:hover::first-letter
{
    color: rgba(255, 255, 255, 1);
}
article#adr address figure
{
    margin: 0;
    text-align: center;
}
article#adr address figure figcaption a
{
    font-style: normal;
    font-size: 30px;
    line-height: 60px;
    display: inline-block;
    margin-top: 20px;
    /*transition: transform 250ms ease 250ms;*/
}
article#adr address figure figcaption a:hover
{
    text-decoration: none;
    color: white;
    /*transform: scale(1.3, 1.3);*/
}
article#adr address figure figcaption a b
{
    white-space: nowrap;
}

footer.contentinfo
{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px;
    border-top: 1px dotted rgba(255, 255, 255, 0.15);
}
footer.contentinfo small
{
    font-size: 14px;
}
footer.contentinfo small.worktime .fa
{
    margin-right: 10px;
}
footer.contentinfo small.worktime .fa:not(:first-child)
{
    margin-left: 30px;
}
footer.contentinfo small.worktime:not(:hover) sup
{
    visibility: hidden;
}
footer.contentinfo address
{
    font-style: normal;
}
footer.contentinfo address small time
{
    margin: 0 6px;
}

/*================================================================*/



.pathmap
{
    height: 720px;
    background: rgba(255, 255, 255, 0.85);
    position: relative;
    margin-top: 20px;
    transition: opacity 250ms ease;
}
.pathmap:not(:hover)
{
    opacity: 0.3;
}
.pathinfo
{
    position: absolute;
    width: 600px;
    margin: 70px 50px;
    padding: 0 15px;
    background: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    color: black;
    text-shadow: none;
    /*font-size: 14px;*/
    transition: transform 250ms ease 250ms, box-shadow 250ms ease 250ms;
}
.pathinfo h1
{
    margin: 15px 0 10px;
    opacity: 1;
    font-weight: bold;
}
.pathinfo p
{
    /*line-height: 1.2rem;*/
    font-style: italic;
}
.pathinfo > button.closebutton
{
    position: absolute;
    right: 0;
    top: 0;
    font-family: inherit;
    font-size: 20px;
    margin: 10px;
    color: #333;
    padding: 2px 8px 1px;
    background: transparent;
    border: transparent;
}
.pathinfo > button.closebutton:not(:hover)
{
    opacity: 0.5;
}
.pathinfo:hover
{
    transform: scale(1.3, 1.3) translateY(-30px);
    box-shadow: 0 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/*================================================================*/

/*.siteheader > .sitelogo
{
    cursor: default;
    margin: 0;
    user-select: none;
}
.siteheader > .sitelogo.logo0
{
    font: italic normal 40px Impact, monospace;
    letter-spacing: 10px;
    margin-top: -9px;
}
.siteheader > .sitelogo.logo0 sub
{
    font-size: 18px;
    margin-left: -93px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo1
{
    font: italic bold 40px "Malayalam MN", monospace;
    letter-spacing: 8px;
    margin-top: -12px;
}
.siteheader > .sitelogo.logo1 sub
{
    font-size: 18px;
    margin-left: -90px;
    position: relative;
    bottom: -12px;
}
.siteheader > .sitelogo.logo2
{
    font: italic bold 40px Noteworthy, monospace;
    letter-spacing: 6px;
    margin-top: -20px;
}
.siteheader > .sitelogo.logo2 sub
{
    font-size: 18px;
    margin-left: -83px;
    position: relative;
    bottom: -10px;
}
.siteheader > .sitelogo.logo3
{
    font: normal 35px Zapfino, monospace;
    margin: -31px 0 -50px;
}
.siteheader > .sitelogo.logo3 sub
{
    font-size: 15px;
    margin-left: -65px;
    position: relative;
    bottom: -14px;
}*/
