table.styled
{
    width: 100%;
    border-collapse: collapse;
}
table.styled caption
{
    padding: 15px;
}
table.styled thead,
table.styled tfoot
{
    background: #eee;
}
table.styled th, td
{
    padding: 4px;
}
table.styled tr:last-child td,
table.styled tr th
{
    border-bottom: 4px solid #eee
}
