.buttongroup
{
    display: inline-block;
}
.buttongroup .button:not(:focus):not(:last-of-type)
{
    border-right-width: 0;
}
.buttongroup .button:focus + .button
{
    border-left-width: 0;
}
.buttongroup .button[aria-checked=true] + .button:not(:focus):not(:hover)
{
    border-left-color: rgba(153, 122, 0, 0.5);
}
.buttongroup:hover .button:hover + .button:not(:focus)
{
    border-left-color: rgba(0, 0, 0, 0.3);
}
.buttongroup .button:not(:first-of-type)
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.buttongroup .button:not(:last-of-type)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.buttongroup[aria-label]::before
{
    content: attr(aria-label);
    display: block;
    margin-bottom: 5px;
    cursor: default;
}
