body
{
    font: 13px Arial;
    margin: 20px;
}

/*
.backdrop
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.dialog
{
    position: fixed;
    left: 50%;
    padding: 20px;
    top: 100px;
    z-index: 100;
    width: 500px;
    margin-left: -250px;
    box-sizing: border-box;
}
*/

.dialog
{
    padding: 15px;
}

.dialog h3
{
    margin-top: 0;
}
