.textbox .box
{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* hover */

.textbox:hover .box
{
    border-color: rgba(0, 0, 0, 0.3);
}

/* focus */

.textbox .box:focus
{
    border-color: #ffdb4d;
}
.textbox .box:focus
{
    box-shadow: inset 0 0 0 1px #ffdb4d;
}

/* disabled */

.textbox.disabled,
.textbox .box:disabled
{
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
}
.textbox .box:disabled
{
    background: rgba(0, 0, 0, 0.08);
    border-color: transparent;
}

.textbox
{
    display: inline-block;
}
.textbox .box
{
    font: inherit;
    padding: 5px 8px;
    outline: none;
    box-sizing: border-box;
}

.textbox[aria-label]::before
{
    content: attr(aria-label);
    display: block;
    margin-bottom: 5px;
    cursor: default;
}

